@use "../../../global.scss";

.gridContainer {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  @media screen and (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 468px) {
    grid-template-columns: 1fr;
  }
}

.imageFrame {
  border: 1px solid global.$lightColor;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    @include global.size($height: 158px);
    flex: inherit;
  }
}

.imageName {
  color: global.$lightColor;
  box-sizing: border-box;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  background: rgba(global.$darkColor, 0.9);
  padding: 8px 16px;
  position: absolute;
  @include global.size($width: 100%);
  bottom: 0;
}
