@use "../../../global.scss";

.gridContainer {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  @media screen and (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 468px) {
    grid-template-columns: 1fr;
  }
}

.imageFrame {
  border: 1px solid global.$highlight;
  padding: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  transition: ease-in 200ms;
  background-color: global.$darkColor;
  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;

    .deleteBtn {
      background: rgba(global.$delete, 100%);
      &:hover {
        background: darken(global.$delete, 10%);
      }
    }
  }

  &:before {
    content: "•";
    position: absolute;
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: global.$highlight;
    border: 1px solid global.$highlight;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  &:before {
    left: 4px;
    top: 4px;
    z-index: 9999;
  }

  img {
    @include global.size($height: 158px);
    flex: inherit;
  }

  :hover {
    .imageName {
      opacity: 1;
    }
  }
}

.imageFrameInner {
  position: relative;
  border: 1px solid global.$highlight;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  &:before,
  &:after {
    content: "•";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: global.$highlight;
    border: 1px solid global.$highlight;
    line-height: 12px;
    bottom: -2px;
    text-align: center;
  }
  &:before {
    left: -2px;
    z-index: 9999;
  }
  &:after {
    right: -2px;
    z-index: 9999;
  }
}

.imageName {
  transition: ease-in 200ms;
  opacity: 0;
  color: global.$lightColor;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  background: rgba(global.$darkColor, 0.9);
  border: 1px solid lighten(global.$darkColor, 15%);
  padding: 8px 16px;
  position: absolute;
  text-align: center;
  bottom: 8px;
  display: inline-block;
  margin: 0 16px;
  border-radius: 4px;
  box-shadow: rgba(global.$darkColor, 0.2) 0px 8px 24px;
  @media screen and (max-width: 768px) {
    opacity: 1;
  }
}

.deleteBtn {
  cursor: pointer;
  @include global.size($width: 24px, $height: 24px);
  background: rgba(global.$delete, 35%);
  position: absolute;
  top: -1px;
  right: -1px;
  border: 1px solid global.$highlight;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 200ms;

  svg {
    @include global.size($width: 16px, $height: 16px);
  }
}
