@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.teamLogo {
  cursor: pointer;
  &:hover {
    animation: pulse 1s ease-in-out infinite;
  }
}
