@use "../../global.scss";

.sidebarButton {
  cursor: pointer;
  transition: ease-in 200ms;
  @include global.size($width: 100%, $height: 48px);
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.primary {
  color: global.$darkColor;
  background-color: global.$highlight;
  border: 2px solid lighten(global.$highlight, 15%);
  &:hover {
    background-color: lighten(global.$highlight, 20%);
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;
  }
  &:active {
    background-color: lighten(global.$highlight, 10%);
    box-shadow: rgba(global.$primary, 0.32) 0px 10px 36px 0px,
      rgba(global.$primary, 0.12) 0px 0px 0px 1px;
  }
}

.secondary {
  color: global.$highlight;
  background-color: transparent;
  border: 2px solid global.$highlight;
  &:hover {
    background-color: darken(global.$primary, 2%);
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;
  }
  &:active {
    background: lighten(global.$primary, 2%);
    box-shadow: rgba(global.$primary, 0.32) 0px 10px 36px 0px,
      rgba(global.$primary, 0.12) 0px 0px 0px 1px;
  }
}
