@use "../../global.scss";

.sidebarButton {
  cursor: pointer;
  transition: ease-in 200ms;
  @include global.size($width: 100%, $height: 56px);
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 2px solid global.$primary;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.primary {
  color: #ffffff;
  background-color: global.$primary;
  &:hover {
    background-color: darken(global.$primary, 15%);
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;
  }
  &:active {
    background-color: lighten(global.$primary, 10%);
    box-shadow: rgba(global.$primary, 0.32) 0px 10px 36px 0px,
      rgba(global.$primary, 0.12) 0px 0px 0px 1px;
  }
}

.secondary {
  color: global.$primary;
  background-color: transparent;
  &:hover {
    background-color: darken(global.$darkColor, 2%);
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;
  }
  &:active {
    background: lighten(global.$darkColor, 2%);
    box-shadow: rgba(global.$primary, 0.32) 0px 10px 36px 0px,
      rgba(global.$primary, 0.12) 0px 0px 0px 1px;
  }
}
