@use "../../../global.scss";

.flagBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 40px;
  height: 50px;
  background-color: global.$primary;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  box-shadow: 0 8px 8px 0 rgba(global.$darkColor, 0.5);
}
