@use "../../global";

.background {
  display: flex;
  margin: auto;
  z-index: 1;
  @include global.size(
    $width: 100vw,
    $height: 100vh,
    $minwidth: 1920px,
    $minheight: 1080px
  );
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.charLeft {
  justify-self: left;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  left: 0;
}

.charCenter {
  justify-self: center;
  z-index: 5;
  pointer-events: none;
  position: absolute;
  left: 50%;
}

.charRight {
  justify-self: right;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
}
