@use "../../global";

.background {
  display: flex;
  margin: auto;
  @include global.size(
    $width: 100vw,
    $height: 100vh,
    $minwidth: 1920px,
    $minheight: 1080px
  );
  background: {
    image: url("../../assets/scene/default.png");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}
