@use "../../global";

.background {
  display: flex;
  margin: auto;
  z-index: 1;
  @include global.size($width: 100vw, $height: 100vh);
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.sidebarOverlay {
  position: fixed;
  inset: 0;
  z-index: 5;
  background: transparentyu;
}

.flagWrapper {
  position: relative;
  padding: 0 16px;
  z-index: 20;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.charImage {
  position: absolute;
  @include global.size($width: 300px, $height: 100vh);
  pointer-events: none;
  overflow: visible;
  display: flex;
  flex-direction: column;
  bottom: 0;
  &.left {
    left: 0;
    align-items: flex-start;
    justify-content: flex-end;
    & img {
      position: absolute;
      left: 0;
    }
  }
  &.center {
    left: calc(50% - 150px);
    align-items: center;
    justify-content: flex-end;
  }
  &.right {
    right: 0;
    align-items: flex-end;
    justify-content: flex-end;
    & img {
      position: absolute;
      right: 0;
    }
  }
  & img {
    width: auto;
    height: auto;
    min-width: 0;
    flex: 0 0 auto;
    display: block;
  }

  .isFlipped {
    transform: scaleX(-1);
  }
}
