@use "../../global.scss";

.homeContainer {
  display: flex;
  @include global.size($height: 100vh);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 24px 0;
  box-sizing: border-box;
}

.menuButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 16px;
}

img {
  display: flex;
  justify-self: end;
}
