@use "../../global.scss";

.homeContainer {
  display: flex;
  @include global.size($width: 100%, $maxwidth: 780px, $height: 100vh);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 24px;
  box-sizing: border-box;
  margin: auto;
}

.homeContent {
  box-sizing: border-box;
  @include global.size($width: 100%, $maxwidth: 780px);
  padding: 0 24px;
  box-sizing: border-box;
}

.menuButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  margin-top: 40px;
  gap: 32px;
  padding: 0 8px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

img {
  display: flex;
  justify-self: end;
}
