@use "../../../global.scss";

.sidebarContainer {
  width: 400px;
  height: 100vh;
  z-index: 10;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px;
  background-color: #1b1b1b;
  transition: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
