@use "../../../global.scss";

.sidebarContainer {
  @include global.size($width: 400px, $height: 100vh);
  z-index: 10;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px;
  background-image: global.$background-gradient;
  transition: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    @include global.size($width: 100vw, $height: 100vh);
  }
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
