@use "../../../global.scss";

.sidebarContainer {
  --sidebar-width: 400px;
  @include global.size($height: 100vh, $minheight: 100vh);
  z-index: 10;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-image: global.$background-gradient;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  will-change: transform;
  display: block;
  @media screen and (max-width: 768px) {
    --sidebar-width: 100vw;
  }
}

.sidebarContent {
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resetWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
}
