@use "../../../../global";

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selectTitle {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 4px;
}

.selectWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.select {
  cursor: pointer;
  @include global.size($width: 100%, $height: 48px);
  border: 1px solid lighten(global.$highlight, 10%);
  background: global.$primary;
  transition: ease-in 200ms;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  padding: 4px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: global.$lightColor;
  &:hover {
    background: lighten(global.$primary, 5%);
    color: global.$lightColor;
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;
  }
}

.flipButton {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 11px;
  border-radius: 4px;
  border: 1px solid global.$highlight;
  cursor: pointer;
  transition: ease-in 200ms;
  svg {
    stroke: global.$highlight;
  }
  &:hover {
    background-color: darken(global.$primary, 2%);
    box-shadow: rgba(global.$primary, 0.16) 0px 10px 36px 0px,
      rgba(global.$primary, 0.06) 0px 0px 0px 1px;
  }
  &:active {
    background: lighten(global.$primary, 2%);
    box-shadow: rgba(global.$primary, 0.32) 0px 10px 36px 0px,
      rgba(global.$primary, 0.12) 0px 0px 0px 1px;
  }
}
