@use "../../../../global";

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selectTitle {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 4px;
}

.selectWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.select {
  @include global.size($width: 100%, $height: 48px);
  border: 1px solid #4a4a4a;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 4px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flipButton {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 11px;
  border-radius: 12px;
  border: 1px solid #fff;

  svg {
    stroke: #fff;
  }
}
