@use "../../global.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin: 0 0 24px;

  h1 {
    color: global.$lightColor;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
}

.groupTitle {
  margin: 0;
  color: global.$lightColor;
  font-size: 18px;
  font-weight: 400;
}
.subGroupTitle {
  margin: 0;
  color: global.$lightColor;
  font-size: 16px;
  font-weight: 400;
}

.headerActions {
  display: flex;
  gap: 16px;
  transition: ease-in 200ms;
  span {
    color: global.$lightColor;
    transition: ease-in 200ms;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.groupContainer {
  margin: 16px 0;
  display: grid;
  gap: 20px;
}

.subGroupContainer {
  display: grid;
  gap: 20px;
}

.libraryContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 48px 0 24px;
  @include global.size($width: 100%, $maxwidth: 1180px);
  font-family: "Montserrat", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 0 24px;
  box-sizing: border-box;
  justify-items: stretch;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.logoContainer {
  grid-column-start: 1;
  grid-column-end: 6;
  @media screen and (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.buttonHeaderContainer {
  grid-column-start: 9;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  @media screen and (max-width: 768px) {
    gap: 8px;
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.folderButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 24px;
  margin: 40px 0;
  gap: 20px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.sectionContainer {
  margin-bottom: 48px;
  padding: 0 24px;
}

.sectionInfo {
  display: flex;
  align-self: center;
  padding: 8px 0;
  color: rgba(global.$lightColor, 0.75);
  font-size: 24px;
  font-weight: 300;
}
