@use "../../global.scss";

.libraryContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 48px 0 24px;
  @include global.size($width: 100%, $maxwidth: 1180px);
  font-family: "Montserrat", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 0 16px;
  box-sizing: border-box;
  justify-items: stretch;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.logoContainer {
  grid-column-start: 1;
  grid-column-end: 6;
  @media screen and (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.buttonHeaderContainer {
  grid-column-start: 9;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  @media screen and (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.folderButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 16px;
  margin: 40px 0;
  gap: 24px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.sectionContainer {
  margin-bottom: 48px;
  padding: 0 16px;
}

.sectionTitle {
  margin: 0;
  color: global.$lightColor;
  font-size: 24px;
  font-weight: 400;
}

.sectionInfo {
  display: flex;
  align-self: center;
  padding: 8px 0;
  color: rgba(global.$lightColor, 0.75);
  font-size: 24px;
  font-weight: 300;
}
