@use "../../global.scss";

.libraryContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  @include global.size($width: 100%, $maxwidth: 1180px);
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.folderButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px 10% 40px 10%;
  gap: 20px;
}

.sectionContainer {
  margin-bottom: 48px;
}

.sectionTitle {
  margin: 0;
  color: global.$lightColor;
  font-size: 24px;
  font-weight: 400;
}

.sectionInfo {
  display: flex;
  align-self: center;
  padding: 8px 0;
  color: rgba(global.$lightColor, 0.75);
  font-size: 24px;
  font-weight: 300;
}
